/* FONTS */
@import url("https://use.typekit.net/ams6ufq.css");

@font-face {
    font-family: 'Aktura-Regular';
    src: url('./fonts/Aktura-Regular.woff2') format('woff2'),
         url('./fonts/Aktura-Regular.woff') format('woff'),
         url('./fonts/Aktura-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }

/* VARIABLE STYLES */
:root {
    --red: #FF3C00;
    --black: #303030;
    --grey: #F1F1F1;
    --grey-hov: #F5F5F5;
    --dark-grey: #D6D6D6;
}

/* HIGH LEVEL STYLES */
*, ::before, ::after {
    box-sizing: border-box;
}

.html {
    font-size: 18px;
}

body {
    font-family: neue-haas-grotesk-text,sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 80px 160px 80px 80px;
    color: var(--black);
    overflow: hidden;
    cursor: auto;
}

a {
    text-decoration: none;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.p1 {
    font-size: 1.5556rem;
    line-height: 1.75;
    text-align: justify;
}

.p2 {
    font-size: .8333rem;
    color: var(--dark-grey);
}

.section__header {
    font-size: 2.5rem;
    display: inline;
    line-height: .6;
}

/* SPAN STYLES */
.highlight {
    color: var(--red);
    border-bottom: 1px solid var(--red);
    padding-bottom: 4px;
}

.red {
    color: var(--red);
}

.black-letter {
    font-family: 'Aktura-Regular';
}

/* AESTHETIC WITHOUT PURPOSE STYLES */
.bg-grid {
    display: flex;
    justify-content: space-between;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    padding-right: 80px;
    z-index: -1;
}

.bg-grid div {
    background-color: var(--grey);
    width: 1px;
    height: 100%;
}

.bg-grid div:nth-child(1){
    background-color: transparent;
}

/* HERO SECTION STYLES */
.logo {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 24px;
    color: black;
}

.logo div {
    width: 1px;
    height: 20px;
    background-color: black;
}

main {
    width: 66%;
    padding-top: 20vh;
}

main a {
    color: var(--dark-grey);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

main a:hover svg rect {
    fill: var(--red);
    stroke: var(--red);
}
main a:hover svg path {
    fill: white;
}
main a:hover {
    color: var(--red);
}

main div {
    display: flex;
    gap: 24px;
}


main p:nth-child(1){
    margin-bottom: 24px;
}

main p:nth-child(2){
    margin-bottom: 56px;
}


/* NAV STYLES */
nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 100vh;
    text-orientation: mixed;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    display: flex;
    z-index: 999;
}

nav div {
    width: 100%;
    height: calc(100% / 3);
    border-bottom: 1px solid var(--grey);
    font-size: .8333rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div.active {
    color: var(--red);
}

nav div:last-child{
    border-bottom: none;
}

nav div:hover {
    background-color: var(--grey-hov);
    cursor: pointer;
}

/* FOOTER STYLES */
footer {
    position: absolute;
    bottom: 40px;
    left: 80px;
}

footer a, main a {
    font-size: 1.5556rem;
    margin-right: 24px;
}

footer a {
    color: var(--dark-grey);
}

footer a:hover {
    color: var(--red);
}

/* PROJECTS SECTION */
.bg__animation {
    position: fixed;
    inset: 0;
    width: calc(100vw - 80px);
    height: 100%;
    display: flex;
    z-index: -1;
}

.bg__animation div {
    border-right: 1px solid var(--grey);
    width: calc(100% / 3);
    height: 100%;
    background-color: white;
    transform: translateY(100%);
    transition: ease-out 400ms;
}

.bg__animation div.active {
    transform: translateY(0%);
}

.bg__animation div:nth-child(1){
    transition: transform 800ms ease-in-out 50ms;
}
.bg__animation div:nth-child(2){
    transition: transform 800ms ease-in-out 150ms;
}
.bg__animation div:nth-child(3){
    transition: transform 800ms ease-in-out 250ms;
}

section {
    position: fixed;
    width: calc(100vw - 80px);
    height: 100vh;
    z-index: 998;
    inset: 0;
    display: none;
}

section.active {
    display: block;
}

section div {
    height: 100%;
}

#projects {
    display: none;
    justify-content: stretch;
    align-items: flex-end;
}

#projects.active{
    display: flex;
}

#projects a {
    width: calc(100% / 3);
    padding: 32px;
}

#projects p {
    margin-bottom: 8px;
}

.project__card img {
    object-fit: cover;
    height: 50%;
    width: 100%;
}

#about {
    display: none;
    justify-content: stretch;
    align-items: flex-end;
}

#about.active{
    display: flex;
}

#about p {
    width: calc((100% / 3) * 2);
    padding: 0px 80px 80px 80px;
}

#about img {
    object-fit: cover;
    height: 66.6666%;
    width: calc(100% / 3);
    z-index: -2;
}

#contact {
    display: none;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 80px 80px 80px;
}

#contact.active{
    display: flex;
}

#contact a {
    font-size: 8rem;
    color: var(--dark-grey);
    padding-bottom: 24px;
}

#contact a:hover {
    color: var(--red);
}

/* #contact form { 
    width: calc((100% / 3) * 2);
    display: flex;
    flex-direction: column;
    padding: 0px 80px 80px 80px;
}

form input, form select {
    margin-bottom: 56px;
}

input {
    border: none;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--black);
} */

.close-btn {
    position: fixed;
    top: 80px;
    right: 160px;
    z-index: 999;
}